<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<display-name>eapproval</display-name>

	<!-- DB / Service / DAO 설정 읽기 (루트 컨텍스트) -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/datasource.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 한글 인코딩 필터 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--DispatcherServlet등록 요청을 Controller로 배분 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 모든 URL 요청(/)을 DispatcherServlet에게 전달 -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<!-- 컨트롤러 외부 예외 및 500 에러 처리 (시스템 정보 노출 방지용 최후의 공통 에러 페이지) 이걸 안 걸면 톰캣 기본 화면이 뜨면서 예외 메시지·SQL 전문·스택 트레이스가 사용자 
		브라우저에 그대로 찍힌다. 테이블명과 톰캣 버전까지 노출된다. @ExceptionHandler 는 컨트롤러 안에서 난 IllegalStateException 
		만 잡으므로 그 바깥(SQL 오류, 필터, JSP 렌더링)에서 난 것은 여기서 받는다. -->
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/systemError.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/views/error/systemError.jsp</location>
	</error-page>


</web-app>